In [8]:
import pandas as pd
import sqlite3

In [9]:
conn = sqlite3.connect('../Data/Pokemon_analysis.sqlite')
cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTs Pokedex')

df = pd.read_csv("../Data/pokemon_clean.csv")

df.to_sql("Pokedex", conn, if_exists = "replace", index = False)

df.dtypes

dex            int64
name          object
type_1        object
type_2        object
total          int64
hp             int64
attack         int64
defense        int64
sp_atk         int64
sp_def         int64
speed          int64
poke_links    object
generation     int64
image_url     object
dtype: object

In [19]:
query = "SELECT DISTINCT name, dex FROM Pokedex ORDER BY name;"
df_name = pd.read_sql_query(query, conn)

print(df_name[:20])

                        name  dex
0                  Abomasnow  460
1                       Abra   63
2                      Absol  359
3                   Accelgor  617
4   Aegislash (Shield Forme)  681
5                 Aerodactyl  142
6                     Aggron  306
7                      Aipom  190
8                   Alakazam   65
9                   Alcremie  869
10                 Alomomola  594
11                   Altaria  334
12                    Amaura  698
13                   Ambipom  424
14                 Amoonguss  591
15                  Ampharos  181
16                Annihilape  979
17                   Anorith  347
18                  Appletun  842
19                    Applin  840

In [22]:
query = "SELECT DISTINCT type_1 FROM Pokedex ORDER BY type_1;"
df_type_1 = pd.read_sql_query(query, conn)

print(df_type_1)

      type_1
0        Bug
1       Dark
2     Dragon
3   Electric
4      Fairy
5   Fighting
6       Fire
7     Flying
8      Ghost
9      Grass
10    Ground
11       Ice
12    Normal
13    Poison
14   Psychic
15      Rock
16     Steel
17     Water

In [23]:
query = "SELECT DISTINCT type_2 FROM Pokedex ORDER BY type_2;"
df_type_2 = pd.read_sql_query(query, conn)

print(df_type_2)

      type_2
0       None
1        Bug
2       Dark
3     Dragon
4   Electric
5      Fairy
6   Fighting
7       Fire
8     Flying
9      Ghost
10     Grass
11    Ground
12       Ice
13    Normal
14    Poison
15   Psychic
16      Rock
17     Steel
18     Water

## **Consistency between columns**

In [26]:
query = '''
SELECT name, dex, COUNT(*)
FROM Pokedex
GROUP BY name, dex
HAVING COUNT(*) > 1;
'''
df_consistency = pd.read_sql_query(query, conn)

print(df_consistency)

Empty DataFrame
Columns: [name, dex, COUNT(*)]
Index: []

## **Row count sanity check**

In [27]:
query = "SELECT COUNT(*) FROM Pokedex;"
df_rowcount = pd.read_sql_query(query, conn)

print(df_rowcount)

   COUNT(*)
0      1025

## **Cross-check derived values**

In [30]:
query = '''
SELECT name, (hp + attack + defense + sp_atk + sp_def + speed) AS stat_sum, total
FROM Pokedex
WHERE (hp + attack + defense + sp_atk + sp_def + speed) != total;
'''
df_cross_check = pd.read_sql_query(query, conn)

print(df_cross_check)

Empty DataFrame
Columns: [name, stat_sum, total]
Index: []

In [31]:
conn.close()